.list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  padding: 20px;
  border: 1px solid #94a3b8;
  border-radius: 10px;
  margin: 8px;
}
p {
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
  color: #ffffff;
}
.letter {
  background-color: #10b981;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 25px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.web-name-pass {
}
.delete-image {
  height: 30px;
  width: 30px;
}
.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
.str-image {
  height: 10px;
  width: 100px;
}
